.action_bar_container {
    width: 25%;
    background: #3b3f3f;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        color: white;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 1.6rem;
        opacity: .5;
        cursor: none;
    }

    .active {
        opacity: 1;
        cursor: pointer;
    }
}