.nav_bar_container {
  width: 100%;
  background: #3b3f3f;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
      text-transform: uppercase;
      color: white;
      font-family: 'Montserrat', 'sans-serif';
      font-style: normal;
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 4.2rem;
      display: block;
      letter-spacing: 0;
  }
}
